MetaTrader5==5.0.5120
requests==2.31.0
python-dateutil==2.8.2
together==0.2.5
numpy>=1.26.2
pytz==2023.3
sqlalchemy==2.0.26
psycopg2-binary==2.9.9
alembic==1.13.1
python-dotenv==1.0.0
sqlalchemy_utils==0.41.1
streamlit==1.30.0
pandas==2.1.4
plotly==5.18.0
